# Upstash Redis Configuration (FREE!)
# Get these from: https://upstash.com/console
# 
# Steps:
# 1. Go to https://upstash.com/console
# 2. Click "Create Database" (select Free plan)
# 3. Name it "valluru"
# 4. Go to your database
# 5. Copy "REST API" URL and Token
# 6. Paste below

VITE_UPSTASH_REDIS_REST_URL=https://YOUR_URL_HERE.upstash.io
VITE_UPSTASH_REDIS_REST_TOKEN=YOUR_TOKEN_HERE


